<% include partials/header %>
<h1>HOLA</h1>
<img style ="width : 500px; height: 300px" src="https://cdn.pixabay.com/photo/2016/03/26/13/09/organic-1280537_960_720.jpg" />

<ul>
    <li>
        uno
    </li>
    <li>
        dos
    </li>
</ul>
<% include partials/footer %>
