<% include partials/header %>
<h1>You fell in love with <%= thing %></h1>

<% if(thing.toLowerCase() === 'mile'){ %>
    <p> Ella es hermosa <3 <3 </p>
<% } else { %>
    <p>colombia</p>
<% } %>

<p>PS:D this is the love.ejs file</p>
<% include partials/footer %>
