<% include ../partials/header %>
<h1>LogIn</h1>
<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" placeholder="password" id="">
    <button>LogIn</button>
</form>
<% include ../partials/footer %>